<div class="Field_Cards">
  <div class="Card-Title">
    <h2>CREDIT CARD</h2>
  </div>

  <div class="">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="Card-Title">
          <h2>Credit Card Information</h2>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <label for="">Cedula:</label>
            <input
              class="Input-1"
              type="text"
              title="Cedula"
              placeholder="ID number"
            />
          </div>
          <div class="col-12 col-md-8">
            <label for="">Owner:</label>
            <input
              class="Input-1"
              type="text"
              title="Credit Card"
              placeholder="Owner"
            />
          </div>
        </div>
        <label class="col-12" for="">Card Number:{{ CardNumber }}</label>
        <div class="row">
          <div class="Ccard col-1 col-md-1">
            <i class="fa-brands fa-cc-mastercard"></i>
          </div>
          <div class="col-11 col-md-11">
            <input
              class="Input-1"
              type="text"
              title="Card Number"
              placeholder="Enter your Card number"
              [(ngModel)]="CardNumber"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <label for="">Exp. Date:</label>
            <input
              class="Input-1"
              type="text"
              title="Expiration Date"
              placeholder="Enter expiration date"
            />
          </div>
          <div class="col-12 col-md-6">
            <label for="">CSV:</label>
            <input
              class="Input-1"
              type="text"
              title="CSV"
              placeholder="Enter CSV code"
            />
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="Card-Title">
          <h2>Owner Information</h2>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <label for="">Cedula:</label>
            <input
              class="Input-1"
              type="text"
              title="Cedula"
              placeholder="ID number"
            />
          </div>
          <div class="col-12 col-md-8">
            <label for="">Name:</label>
            <input
              class="Input-1"
              type="text"
              title="Name"
              placeholder="Name"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <label for="">Email:</label>
            <input
              class="Input-1"
              type="text"
              title="Email"
              placeholder="Email"
            />
          </div>
          <div class="col-12 col-md-6">
            <label for="">Confirm Email:</label>
            <input
              class="Input-1"
              type="text"
              title="Confirm Email"
              placeholder="Confirm Email"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <label for="">Country:</label>
            <input
              class="Input-1"
              type="text"
              title="Country"
              placeholder="Country"
            />
          </div>
          <div class="col-12 col-md-8">
            <label for="">Phone:</label>
            <input
              class="Input-1"
              type="text"
              title="Phone"
              placeholder="Phone number"
            />
            <div class="button">
              <button type="button" class="btn btn-primary" title="Save">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="ventanaflotante">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Cedula:</th>
        <th scope="col">Name:</th>
        <th scope="col">Credit Card:</th>
        <th scope="col">CSV:</th>
        <th scope="col">Expiration Date:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Category of ListCategory" (click)="LoadById(Category._id)">
        <td>{{Category.Code}}</td>
        <td>{{Category.Name}}</td>
      </tr>
    </tbody>
  </table>

    <div class="new" title="Add Category" (click)="OpenModal()">
        <i class="fa-sharp fa-regular fa-plus fa-lg"></i>
    </div>
</div> -->
